// font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

// variable
$primaryColor: #586cbd;
$secondaryColor: #ee8926;
$tertierColor: #242a5e;

// mixin
@mixin tombol {
    display: inline-block;
    color: white;
    background-color: $primaryColor;
    border-radius: 2em;
    padding: 8px 30px;
    text-decoration: none;
}

// style
body {
    font-family: "Montserrat", sans-serif;
    &::before {
        content: "";
        background-image: url(./online-education-landing-page/Group1.png);
        // background-color: aquamarine;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 45vmax;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        @media screen and(max-width: 992px) {
            opacity: 0.4;
        }
    }
}

// nav
.custom-nav {
    margin-top: 30px;
    .navbar-brand {
        color: $primaryColor;
        font-weight: 700;
        font-size: 1.4rem;
    }
    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $primaryColor;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 2em;
                    transition: 0.3s color ease;

                    &:hover {
                        color: lighten($primaryColor, 30%);
                    }
                }
                .sign-up-button {
                    @include tombol;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        margin-top: 0;
    }
}

// custom section
.custom-section {
    margin-top: 3em;
    h2 {
        font-weight: 700;
        font-size: 3rem;
        white-space: nowrap;
        text-transform: uppercase;
        color: $primaryColor;
        line-height: 1;
    }
    h3 {
        font-weight: 400;
        font-size: 2rem;
        color: $secondaryColor;
        line-height: 1;
        white-space: nowrap;
    }
    p {
        color: $tertierColor;
        font-size: 1.2rem;
        margin-top: 2em;
    }
    a {
        margin-top: 1.2em;
        @include tombol;
        font-weight: 700;
        border: 1px solid transparent;
        transition: 0.5s ease;

        &:hover {
            color: $primaryColor;
            border: 1px solid $primaryColor;
            background-color: transparent;
        }
    }
    @media screen and (max-width: 800px) {
        margin-top: 2em;
        text-align: center;
        h2,h3,p {
            text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
        }
        h2{
            font-size: 2.5rem
        }
    }
}
